@import "../../styles/variables";

/* http://bootsnipp.com/snippets/featured/fancy-navbar-login-sign-in-form */

#nav-dropdown {
    margin-top: 10px;
    color: #fff;
}

button#nav-dropdown.dropdown-toggle.btn.btn-link {
    background-color:$main-color !important;
    box-shadow: 0 0 0 $main-color !important;
}

#login-dp{
    min-width: 325px;
    padding: 14px 14px 0;
    overflow:hidden;
    color: #000;

}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:10px 0    
}
#login-dp .social-buttons a{
    width: 49%;
    margin-left: 2px;
    margin-bottom: 2px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
#login-dp .form-control {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff !important;
    background-color:#3b5998 !important;
}
.btn-fb:hover{
    color: #fff !important;
    background-color:#496ebc !important;
}
.btn-tw{
    color: #fff !important;
    background-color:#55acee !important;
}
.btn-tw:hover{
    color: #fff !important;
    background-color:#59b5fa !important;
}
.btn-sc{
    color: #fff !important;
    background-color:#ff8827 !important;
}
.btn-sc:hover{
    color: #fff !important;
    background-color:#fc381e !important;
}
.btn-go{
    color: #fff !important;
    background-color:#55acee !important;
}
.btn-go:hover{
    color: #fff !important;
    background-color:#59b5fa !important;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}