.SubmissionCard {
  iframe {
    width: 100%;
  }

  .PaidLabel {
    background-color: #ddd8b0;
    color: #7e731b;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
  }

  .comments {
    .comment-entry {
      padding: 0px 0px 10px 20px;
      border-top: solid 1px #ccc;
      margin-bottom: 10px;
    }

    .comment-text {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      box-shadow: 0 1px 2px rgba(0,0,0,.23);
    }

    .comment-timeago {
      color: #8c8c8c;
    }
  }
}