.ui-menu .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}


    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }

div.flash {
    font-weight:bold;
    display:none;
    position:relative;
    padding:10px;
    top:120px;
    min-width:280px;
    width: 30%;
    opacity:0.95;
    margin:0px 0px 10px 20px;
    vertical-align:middle;
    cursor:pointer;
    color:#fff;
    background-color:#000;
    border:2px solid #fff;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-image: -webkit-linear-gradient(top,#222,#000);
    background-image: -o-linear-gradient(top,#222,#000);
    background-image: -moz-linear-gradient(90deg, #222, #000);
    background-image: linear-gradient(top,#222,#000);
    background-repeat: repeat-x;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;

margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}

div.flash #closeflash{color:inherit; float:right; margin-left:15px;}
.ie-lte7  div.flash #closeflash
{color:expression(this.parentNode.currentStyle['color']);float:none;position:absolute;right:4px;}

div.flash:hover { opacity:0.25; }
